#document_hero {
    width: 100%;
    height: 500px;
    background: url(../img/download.jpg) top center;
    background-size: cover;
    position: relative;
    margin-top: -50px;
    z-index: -1;
}

.document_content{
    background: white;
    padding: 80px 0 40px 0;
}

.card_img_size{
    max-height: 200px;
}

/* .card-img-top{
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.img-fluid{
    max-width: 100%;
    height: auto;
} */