.toggle-button {
    display: flex;
    flex-direction: column;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.toggle-button:focus {
    outline: none;
}

.bar1 {
    width: 20px;
    height: 3px;
    background-color:black;
    margin: 2px 0;
    transition: 0.4s;
}

.bar2 {
    width: 20px;
    height: 3px;
    background-color:black;
    margin: 2px 0;
    transition: 0.4s;
}

.bar3 {
    width: 20px;
    height: 3px;
    background-color:black;
    margin: 2px 0;
    transition: 0.4s;
}

