#tb{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: .6s all;
}

#logo{
    transition: .6s all;
}

.toolbar {   
    background:transparent;
    height: 100px;
}

.toolbar-nav{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.spacer{
    flex: 1;
}

.toolbar-logo a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.toolbar-nav-items a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.toolbar-nav-items a:hover{
    color: blanchedalmond;
    text-decoration: none;
    border-bottom: solid 1px white;
}

.toolbar-nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar-nav-items li{
    padding: 0 0.8rem;
}

.toggleButton{
    display: none;
}

.smaller{
    height: 60px;
    background: rgb(169, 169, 169, 0.7);
}

.logo-big{
    height: 90px;
}

.logo-small{
    height: 50px;
}

@media screen and (max-width: 992px){
    .toolbar-nav-items{
        display: none
    }

    .toggleButton{
        display: flex;
    }
}